
body, p {
  font-size: 12px;
}

.button{
  padding: 10px 15px !important;
}

div.file-upload {
    position: relative;
    overflow: hidden;
    margin:0px 5px 0px 0px;
    padding:0px;
}

div.file-upload input#file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#pushContainer {
  width: 100%!important;
}

#pushMainNavLeft, 
#pushMainNavLeft li {
  background-color: #004387;
}

#pushMainNavLeft .active a {
  color: #333333; 
  background-color: #ffffff;
}

#pushMainNavLeft .active ul li a {
  color: #ffffff; 
  background-color: #004387;
}

#pushMainNavLeft li a {
  color: #ffffff;
}

#pushMainNavLeft li a:not(.button):hover, 
#pushMainNavLeft li a:not(.button):focus {
  /*background: rgba(0, 0, 0, 0.025);*/
  background-color: #ffffff;
  color: #333333; 
}

#pushMainNavLeft span#message_notification {
    position: absolute;
    right: 35px;
}

#pushLogo {
  height: 37px; 
  padding: 0px; 
  margin-bottom: -15px; 
  margin-top: 15px;  
  margin-left: 5px;
}

#pcciLogo {
  height: 43px; 
  padding: 0px; 
  margin-bottom: -15px; 
  margin-top: 10px; 
  margin-left: 25px;
}

#headerText {
  font-size: 12px; 
  font-weight: bold;
  padding: 0px; 
  width: 500px; 
  margin-bottom: -15px; 
  margin-top: 21px; 
  margin-left: 4px; 
  color: #999; 
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); 
  text-transform: uppercase;
}

.marginBottom_1 {
  margin-bottom: 30px;
}

.paddingLeft_1 {
  padding-left: 0;
  margin-left: 0;
}

.postDateFormat {
  color: #9c9c9c;
}

#userOnlineList .panel {
  padding: 0!important;
  min-height: 550px!important;
  max-height: 550px!important;
  overflow-y: scroll;
}

#userOnlineList .panel .side-nav {
  padding: 0!important;
}

#userOnlineList .panel .side-nav li {
  margin: 0!important;
}

#userOnlineList .panel .side-nav li a {
  padding-top: 0!important;
  padding-right: 0!important;
  padding-bottom: 0!important;
  padding-left: 10px!important;
}

#userChatBox .panel {
  padding: 5px!important;
  min-height: 505px!important;
  max-height: 505px!important;
  margin-bottom: 8px!important;
  overflow-y: scroll;
}

#userChatBox .panel .alert-box {
  margin-bottom: 5px!important;
  padding: 5px!important;
  font-size: 12px;
}

.panel.out-panel{
  padding:0px 14px;
}

.panel.in-panel{
  margin: 5px 5px 0px 5px;  
}

a.message-sort{
  width:60px;
  display: block;
  float:right;
  text-align: right;
  font-weight: bold;
}

#message-list .out-panel{
  display: table;
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
}

#thread-list a.active-thread{
  background: #ddd;
  color:#000; 
}

#thread-list .out-panel{
  display: block;
  height: 100%;
  padding-bottom: 5px;
}

#thread-list ul{
  width: 93%;
  margin:1px;
}

#thread-list ul li.item{
  position:relative;
  margin-bottom:1px;
  border: 1px solid #ccc;
}


#thread-list li{
  overflow: hidden;
  background: #fff;
}

#thread-list li a{
  background: #fff;
  padding:10px;
  color:#000;
  height: 70px;
}

#thread-list li a:hover{
  background: #ddd !important;
  color:#000;
}

#thread-list li a.delete-message, #thread-list li a.delete-message-active{
  float:right; 
  position:absolute; 
  top:-12px; 
  right:-5px;
  color:#008cba;
  background:transparent;
}

#thread-list li a.delete-message:hover, #thread-list li a.delete-message-active{
  background:transparent !important;
  font-weight: bold;
}

#thread-list li a.delete-message-active{
  color:#fff;
}

#thread-list .thread-details-name{
  margin-left:5px;
  font-size: 10pt;
}

#thread-list .thread-details{
  margin: 0px 20px;
  text-align: left;
  word-wrap: break-word;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:210px;
}

#thread-list span.thread-details{
  margin-top:-2px;
  font-size:9pt;
}

#thread-list ul li a.unread_item i{
  color:#ffcc55;
  text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;  
}

#thread-list .item a i{
  font-family: FontAwesome;
  display: inline-block;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0px, 0px);
  font-size:16px;
}

#thread-list .item a.unread_item i:before{
  content:"\f0e0";
}

#thread-list .item a.read_item i:before{
  content:"\f003";
}

#thread-list ul li a.read_item i{
  color:#ff8800;
  text-shadow:none;
}


#message-list .read_msg{
  background: #fff !important;
  border-color: #ccc !important;
}

#message-list .unread_msg{
  background-color: #a0d3e8;
  border-color: #74bfdd;
}

#message-list, #thread-list{
  height: 620px;
  max-height: 621px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0px;
  margin-bottom: 20px;
}

#message-list .in-panel{
  padding:15px 15px 0px;
  margin-bottom:5px;
  width:96%;
}

#message-subject{
  margin-top:14px;
}

.message-sender label{
  font-weight: bold;
}

.message-datetime{
  text-align: right !important;
}

.messageBody{
  padding-top:10px;
}

.messageBody p{
  text-align: justify;
}

textarea {
    resize: none;
}

.ui-autocomplete-input, .ui-menu, .ui-menu-item { 
  z-index: 2006 !important;
}

#infscr-loading{
  text-align: center;
}

#previous-recepients{
  max-height: 61px;
  overflow-y: scroll;
  padding: 8px;
}

/*  Compose Message  */
 ul.token-input-list-facebook {
  width: 100% !important;
}

input#token-input-message-to{
  width: 100% !important;
}

#cke_messageBody{
  margin-bottom: 15px;
}

img.ez-photo{
  width:200px;
  height: 200px;
}

.calendar .date-picker{
  width: 67%;
}

a.time-selector{
  width:25% !important;
}

.calendar .selector a i{
  font-size:14pt;
  line-height: 0;
}

.centerHeader {
  text-align: center;
  font-size: small;
}

.dateHeader {
  width: 30%;
}

.metricHeader {
  width: 20%;
}

.remarksHeader {
  width: 50%;
}

#cpanel .accordion-navigation{
  margin-bottom:5px !important;
}

#cpanel .accordion-title{
  padding: 10px;
  background: #004387;
}

#cpanel .accordion-title label{
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}

#cpanel .content{
  padding:7px;
}

#cpanel .content a{
  color: #000;
  font-size: 11pt;
}

#cpanel .content a:hover{
  color:#666;
}

#cpanel .active .accordion-icon:before {
  font-family: FontAwesome;
  content: "\f0d8";
}

#cpanel .accordion-icon:before {
  font-family: FontAwesome;
  content: "\f0d7";
}

#cpanel .active .accordion-icon {
  font-family: FontAwesome;
  content: "\f0d7";
}

.custom-modal{
  padding: 15px;
}

.custom-modal label{
  font-weight: bold;
}

.custom-modal .close-reveal-modal{
  top: 0px;
  right: 10px;
}
.sub-nav {
    background-color: #f2f2f2;
    padding: 10px 10px 10px 0;
}
.sub-nav {
    display: block;
    margin: -0.22222rem 0 1rem;
    overflow: hidden;
    padding-top: 7px;
    width: auto;
}

.sub-nav dt{
  float:left;
  color:#000;
  font-weight: bold;
  font-size:16pt;
}

.sub-nav dd{
  margin-top:2px;
  float:right;
  padding:4px;
}
=======
div.center-loader{
  margin:300px auto !important;
  width:200px;
  text-align:center;
}

#report-logs th, td {
  font-size: 12px !important;
}

#tl-form label{
  font-weight: bold;
}

#activity-form label{
  font-weight: bold;
}

div.condensed-table table tr th, div.condensed-table table tr td{
  padding: 5px !important;
  text-align: center;
  font-size: small;
}

div.condensed-table table tr.even, div.condensed-table table tr.alt, div.condensed-table table tr:nth-of-type(2n) {
  background-color: transparent !important;
}

div.condensed-table{
  margin-top: 25px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #004387;
  color: #ffffff;
  border: none;
}
.ui-widget-content {
  border: 1px solid #ccc;
}

input[data-toggle] {
  display: none; 
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); 
}

.button-group.toggle li:not(first-child) {
  margin: 0 -0.9rem; 
}
